<!DOCTYPE html>
<html>
  <body>
    <div>
      <label for="From">From:</label>

      <select name="currencyFrom" id="currencyFrom" style="margin-right: 20px; margin-left: 5px; width: 100px;">
        <option value="Rupee"> Rupee </option>
        <option value="Dollar"> Dollar </option>
        <option value="Pound"> Pound </option>
        <option value="Euro"> Euro </option>
        <option value="Yen"> Yen </option>
      </select>

      <label for="To">To:</label>

      <select name="currencyTo" id="currencyTo" style="margin-left: 5px; width: 100px;">
        <option value="Rupee"> Rupee </option>
        <option value="Dollar"> Dollar </option>
        <option value="Pound"> Pound </option>
        <option value="Euro"> Euro </option>
        <option value="Yen"> Yen </option>
      </select>

      <input type="number" id = "amount" placeholder="Enter amount here" width="20px" style="margin-left: 15px;">

      <textarea id="log" style="width: 50px; margin-left: 15px;" placeholder="Log Output"></textarea>

      <br><br>

      <button id="convertBtn" style="text-align: center;"> Convert </button>

      <br><br>
      
      <label id="result">Answer</label>

    </div>
  </body>
</html>